########################################################################
# Configuration file for Inverse-Kinematics avatars.
# Copyright (c) 2019-2020 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

#
# Configuration for some tall person's avatar:
#
section Default
	avatarModelFileName Resources/IKAvatar/Avatar.wrl
	
	maxArmExtension 1.2
	minWristDist 0.3
	neckPitchOffset -135.3
	neckPitchScale 0.333
	maxNeckYaw 90.0
	clavicleYawScale 30.0
	maxClavicleYaw 33.0
	clavicleRollScale 50.0
	maxClavicleRoll 33.0
	wristRelaxFactor 0.5
	shoulderRotationAngle 30.0
	pelvisPitchFactor 0.667
	pelvisSway 1.0
	pelvisFlex 0.5
	maxFootWrench 30.0
	footSplay 10.0
	stepTime 0.2
	stepHeight 0.075
	
	headToViewer translate (0.0, -0.111, -0.067)
	uprightNeckHeight 1.69
	
	section LeftArm
		handToDevice translate (-0.023, -0.192, -0.1)
		claviclePos (-0.02, 0.015, -0.197)
		shoulderPos (-0.145, 0.0, 0.0)
		upperLength 0.325
		lowerLength 0.305
	endsection
	
	section RightArm
		handToDevice translate (0.023, -0.192, -0.1)
		claviclePos (0.02, 0.015, -0.197)
		shoulderPos (0.145, 0.0, 0.0)
		upperLength 0.325
		lowerLength 0.305
		
		handDeviceName Mouse
	endsection
	
	pelvisPos (0.0,0.015,-0.7)
	
	section LeftLeg
		hipPos (-0.15, 0.0, 0.0)
		upperLength 0.458
		lowerLength 0.432
		toePos (0.0,0.23,-0.1)
		heelPos (0.0,-0.07,-0.1)
		solePos (0.0,0.1,-0.1)
	endsection
	
	section RightLeg
		hipPos (0.15, 0.0, 0.0)
		upperLength 0.458
		lowerLength 0.432
		toePos (0.0,0.23,-0.1)
		heelPos (0.0,-0.07,-0.1)
		solePos (0.0,0.1,-0.1)
	endsection
endsection
