########################################################################
# Patch configuration file to record a Vrui session for subsequent
# playback. Should be combined with non-panning display window, such as
# 1080p.cfg.
# Copyright (c) 2018 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	
	section Desktop
		# Save input device data to a file
		inputDeviceDataSaver InputDeviceDataSaver
		
		section InputDeviceDataSaver
			# Common base directory for generated files
			baseDirectory .
			
			# Set the path and name of the file to which recordings are saved
			inputDeviceDataFileName InputDeviceData.dat
			
			# Optionally uncomment the following line, and set the path and name of the file to which sound is recorded
			# soundFileName SoundData.wav
			
			# Name of sound device from which to record
			soundDeviceName "default"
			
			# Adjust audio recording format as desired
			sampleResolution 16
			numChannels 1
			sampleRate 44100
		endsection
	endsection
	
	section Vive
		# frontPlaneDist 0.15
		inputDeviceDataSaver InputDeviceDataSaver
		
		section DeviceDaemonAdapter
			# Add Vive tracker to devices to track the Kinect:
			# inputDeviceNames += (Tracker1)
		endsection
		
		section InputDeviceDataSaver
			# Common base directory for generated files
			baseDirectory .
			
			# Set the path and name of the file to which recordings are saved
			inputDeviceDataFileName InputDeviceData.dat
			
			# Optionally uncomment the following line, and set the path and name of the file to which sound is recorded
			# soundFileName SoundData.wav
			
			# Name of sound device from which to record
			soundDeviceName "default"
			
			# Adjust audio recording format as desired
			sampleResolution 16
			numChannels 1
			sampleRate 16000
		endsection
	endsection
	
	section RiftDK2
		inputDeviceDataSaver InputDeviceDataSaver
		
		section InputDeviceDataSaver
			# Common base directory for generated files
			baseDirectory .
			
			# Set the path and name of the file to which recordings are saved
			inputDeviceDataFileName InputDeviceData.dat
			
			# Optionally uncomment the following line, and set the path and name of the file to which sound is recorded
			# soundFileName SoundData.wav
			
			# Name of sound device from which to record
			soundDeviceName "default"
			
			# Adjust audio recording format as desired
			sampleResolution 16
			numChannels 1
			sampleRate 16000
		endsection
	endsection
	
endsection
