########################################################################
# Patch configuration file to record window contents into a Theora-
# compressed video file or a sequence of frame images. Can also record a
# soundtrack.
# Copyright (c) 2015-2018 Oliver Kreylos
# 
# This file is part of the Virtual Reality User Interface Library
# (Vrui).
# 
# The Virtual Reality User Interface Library is free software; you can
# redistribute it and/or modify it under the terms of the GNU General
# Public License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# The Virtual Reality User Interface Library is distributed in the hope
# that it will be useful, but WITHOUT ANY WARRANTY; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with the Virtual Reality User Interface Library; if not, write
# to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
# Boston, MA 02111-1307 USA
########################################################################

section Vrui
	section Desktop
		
		# Select a background color for the movie
		backgroundColor (0.0, 0.0, 0.0) # Black
		# backgroundColor (1.0, 1.0, 1.0) # White
		
		section MouseAdapter
			# Use a virtual mouse cursor that is recorded into the movie
			fakeMouseCursor true
			mouseCursorSize (0.175, 0.275, 0.0)
		endsection
		
		section Window
			# Select a window size matching the desired video frame size
			# windowSize (1024, 768) # 4:3 aspect ratio for typical presentation projectors
			# windowSize (1280, 720) # 16:9 aspect ratio medium resolution
			windowSize (1920, 1080) # 16:9 aspect ratio high (1080p) resolution
			
			# Disable vsync to get less judder in the movie
			vsync false
			
			# Select a full-scene antialiasing level (1 disables FSAA)
			multisamplingLevel 1
			
			# Master toggle to save a movie from this window
			saveMovie true
			
			# Base directory where all movie-related files are saved
			movieBaseDirectory .
			
			# Rate at which window contents are saved in Hz
			movieFrameRate 30.0
			
			# Uncomment the following to save the movie as a Theora video file
			# movieSaveTheora true
			
			# Theora video encoder settings
			# movieFileName Frames.ogv
			# movieQuality 48
			
			# File name template if movie is saved as individual frames
			movieFrameNameTemplate Frames/Frame%06u.ppm
			
			# Set a sound file name to record a soundtrack
			movieSoundFileName Soundtrack.wav
			
			# Pulseaudio sound device name from which to record
			movieSoundDeviceName default
			
			# Sound recording parameters
			movieSampleResolution 16
			movieNumChannels 1
			movieSampleRate 16000
		endsection
		
		section Tools
			# Uncomment the following line to hide the red tool kill zone
			# Can also be disabled from inside an application through the
			# "Devices" System sub-menu.
			# killZoneRender false
		endsection
	endsection
endsection
